*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: rgba(122, 193, 16, 0.913);
    height: 40px;
    width: 100%;
}

.first-cantaner{
    display: flex;
    justify-content: space-around;
    padding-top: 5PX;
    
    color: aliceblue;
}

.namber{
    display: flex;
    padding-right: 300px;
}
.namber h5{
    padding-left: 20px;
    padding-top: 5px;
}
.icons{
    padding-top: 3px;
}

.icons img{
    width: 22px;
    height: 22px;
    border-radius: 20px;
}


.section-one{
    background-image: url(background.jpg);
    height: 75vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.opacity{
    background-color: rgba(0, 0, 0, 0.603);
    height: 75vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    padding-top: 30px;
}

.logo{
    padding-left: 20px;
}

.logo h2{
    text-transform: uppercase;
    font-weight: 1500;
}


.manu a{
    padding-right:10px;
    padding-left: 20px;
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}


#click{
    color:  rgba(145, 226, 23, 0.913);
    border-bottom: 1px solid  rgba(122, 193, 16, 0.913);
    padding-bottom: 5px;
}

.heading-first{
    padding-top: 60px;
    padding-left: 20%;
    color:rgb(166, 222, 82);
    text-transform: uppercase;
    font-size: small;
    font-weight: bolder;

}
.heading-two h1{
    font-weight: 1800;
    color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-top: 15px;
    font-size: xx-large;
    letter-spacing: 3px;
}

.paragraph p{
    color: white;
    padding-left: 20%;
    padding-top: 30px;
    
}

.btn{
    padding-left: 20%;
    padding-top: 40px;

}
.btn button{
    background-color: rgb(138, 184, 68);
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: xx-small;
}

.footer{
    background-color: rgb(134, 181, 63);
    height: 18vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-first h3{
    color: white;
    padding-top: 20px;
    text-transform: capitalize;
}

.footer-first p{
    color: white;
    padding-top: 10px;
}

.btn-two{
    padding-top: 30px;
}

.btn-two button{
    background-color: rgb(139, 184, 73);
    color: white;
    padding: 5px 15px;
    border:  1px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: xx-small;
    font-weight: 700;
}